.button {
    text-decoration: none;
    text-transform: uppercase;
    padding: .25rem 1rem;
    border: solid 1px black;
    border-radius: 2rem;
    color: black;
    width: fit-content;
    margin-bottom: 1rem;
}
