.section {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.logo {
    padding: .5rem 0;
    padding-right: .5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logInOut {
    position: absolute;
    top: 100%;
    right: -1px;
    padding: .5em 1em;
    margin-top: calc(.5rem - 1px);
    background-color: white;
    border: none;
    border: solid 1px black;
    border-radius: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
 
/* .button {
    display: none;

    padding: .25rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px black;
    border-radius: 2rem;
}
.button:hover {
    background-color: var(--color-gray);
} */