.viewSwitchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.viewSwitchContainer > button {
    position: relative;
    padding: .5em 1em;
    background-color: transparent;
    border: none;
    border: solid 1px black;
    border-radius: 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.viewSwitchContainer > button:hover {
    background-color: var(--color-green);
}
.viewSwitchActive {
    background-color: var(--color-violet) !important;
}

.mobileAccordion {
    margin-top: 20px;
    max-height: 300px;
    overflow-x: auto;
    border: solid 1px black;
    border-bottom: none;
    border-radius: 0px;
}

.mobileItemHead {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 1px black;
}
.mobileItemHead > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
