.container {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.point {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    border: solid 3px var(--color-purple);
}

.card {
    position: relative;
    width: 300px;
    height: 2em;
    bottom: calc(2em - 5px);
    left: 5px;
    z-index: 1;
    background: rgba(255, 255, 255, .75);
}

.text {
    height: 100%;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
    font-size: 12px;
}