.a {
    text-decoration: none;
}
.a:hover {
    background: var(--color-green);
}
.a :hover > h3 {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.border {
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.h3 {
    padding: 1rem;
    font-weight: bold;
    font-size: 33px;
    margin: 0;
    text-transform: uppercase;
}

.noHref:hover {
    background-color: var(--color-gray);
}
.noHref:hover h3 { 
    text-decoration: unset;
}

@media screen and (max-width : 1024px) {
    .grid {
        grid-template-columns: 1fr;
    }
}