.container {
    position: relative;
    width: 100%;

    border-top: solid 1px black;
}

.container :first-child {
    max-height: 500px;
}
.container img {
    object-fit: cover;
}

.text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}